name: Build Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v6

        - name: Login to Github Container Registry
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{github.actor}}
            password: ${{secrets.GITHUB_TOKEN}}

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
          with:
            driver: docker-container
        
        - name: Get current time
          id: current_time_step
          run: echo "time=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_OUTPUT
            
        - name: Build and push
          uses: docker/build-push-action@v6
          with:
            context: .
            file: ./Dockerfile
            push: true
            tags: |
              ghcr.io/ninepiece2/merlins-crystal-ball:beta
            build-args: |
              BUILD_DATE=${{ steps.current_time_step.outputs.time }}
              VCS_REF=${{ github.sha }}
        