name: PR Build & Test

on:
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 25

      - name: Install dependencies
        run: npm install

      - name: Generate Drizzle
        run: npm run db:generate

      - name: Run tests
        run: npm test:run

      - name: Run lint
        env:
          CI: false
        run: npm run lint

      - name: Run build
        env:
          CI: false
          DATABASE_URL: "postgresql://dummy:dummy@localhost:5432/dummy"
        run: npm run build

      - name: Build Docker image
        run: docker build -t merlins-crystal-ball:test .
